@model SIA_Portal.Models.BaseModels.BaseAccountLoggedInModel
@using SIA_Portal.Constants;
@{
    ViewBag.Title = "Shared_NavBar";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Dashboard - Employee</title>
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
    <link href="~/Res/Css/dashboard.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script>


    <style type="text/css">

        .fakeLink {
            border: 0px;
            background-color: transparent;
            color: blue;
            cursor: pointer;
        }

        .fakelink:hover {
            text-decoration: underline;
        }
    </style>

</head>

<body class="sb-nav-fixed">
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
        <!-- Navbar Brand-->
        <a class="navbar-brand ps-3" href="index.html">(Name)</a>
        <!-- Sidebar Toggle-->
        <!--
    <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
    -->
        <!-- Navbar Search-->
        <!--
        <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
            <div class="input-group">
                <input class="form-control" type="text" placeholder="Search for..." aria-label="Search for..." aria-describedby="btnNavbarSearch" />
                <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i class="fas fa-search"></i></button>
            </div>
        </form>
        -->
        <!-- Navbar-->
        <!--
        <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="#!">Settings</a></li>
                    <li><hr class="dropdown-divider" /></li>
                    <li><a class="dropdown-item" href="#!">Logout</a></li>
                </ul>
            </li>
        </ul>
            -->
    </nav>


    <div id="layoutSidenav" style="background-color: antiquewhite;">

        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion" style="background: #a3bfe3;">
                <div class="sb-sidenav-menu">
                    <div class="nav">

                        @using (Html.BeginForm(ActionNameConstants.GENERIC_SIDE_NAVBAR__EXECUTE_ACTION, ControllerNameConstants.BASE_CONTROLLER_WITH_NAV_VAR_CONTROLLER_NAME))
                        {
                            Html.HiddenFor(m => Model.LoggedInAccount.Id);

                            <div class="sb-sidenav-menu-heading">Home</div>


                            <button type="submit" name="executeAction" value="GoToAdminHomePage" class="nav-link fakeLink">Dashboard</button>


                            <div class="sb-sidenav-menu-heading">Transaction</div>

                            /*
                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapsePages" aria-expanded="false" aria-controls="collapsePages">
                                <div class="sb-nav-link-icon"></div>
                                Manage Accounts
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapsePages" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">

                                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#pagesCollapseError" aria-expanded="false" aria-controls="pagesCollapseError">
                                        Admin Accounts
                                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                    </a>
                                    <div class="collapse" id="pagesCollapseError" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages">
                                        <nav class="sb-sidenav-menu-nested nav">

                                            <button type="submit" name="executeAction" value="GoToManageAdminAccount" class="nav-link fakeLink">Manage Admin Accounts</button>
                                            <button type="submit" name="executeAction" value="CreateAdminAccount" class="nav-link fakeLink">Create Admin Account</button>
                                        </nav>
                                    </div>
                                </nav>
                            </div>
                            */

                            if (Model.IfAccountHasPermission(PermissionConstants.MANAGE_ACCOUNTS))
                            {
                                <button type="submit" name="executeAction" value="GoToManageAdminAccount" class="nav-link fakeLink">Manage Accounts</button>
                            }

                            /*
                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                                <div class="sb-nav-link-icon"></div>
                                Manage Employee Records
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>

                            <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="layout-sidenav-light.html">View Employee Records</a>
                                    <a class="nav-link" href="layout-static.html">Add Employee Records</a>
                                    <a class="nav-link" href="layout-sidenav-light.html">Modify Employee Records</a>
                                </nav>
                            </div>
                            */
                            if (Model.IfAccountHasPermission(PermissionConstants.MANAGE_ANNOUNCEMENTS))
                            {
                                <button type="submit" name="executeAction" value="GoToManageAnnouncement" class="nav-link fakeLink">Manage Announcements</button>
                            }

                            <!--
        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapsePages" aria-expanded="false" aria-controls="collapsePages">
            <div class="sb-nav-link-icon"></div>
                Announcements
            <div class="sb-sidenav-collapse-arrow"></div>
        </a>
        -->



                            <div class="sb-sidenav-menu-heading">Account</div>
                            <button type="submit" name="executeAction" value="GoToChangeOwnPassword" class="nav-link fakeLink">Settings</button>
                            <!--
        <a class="nav-link" href="charts.html">
            <div class="sb-nav-link-icon"></div>
            Settings
        </a>
        -->

                                //

                            <button type="submit" name="executeAction" value="LogOut" class="nav-link fakeLink">Log-out</button>
                            }

                    </div>
                </div>
                <div class="sb-sidenav-footer">
                    <div class="small">Logged in as:</div>
                    @Model.LoggedInAccount.Username
                </div>
            </nav>
        </div>

        <div id="layoutSidenav_content">
            
            @RenderBody()
            
        </div>

    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="js/scripts.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
    <script src="assets/demo/chart-area-demo.js"></script>
    <script src="assets/demo/chart-bar-demo.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
    <script src="js/datatables-simple-demo.js"></script>
</body>
</html>

