* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Poppins', sans-serif;
	background-color: antiquewhite;
}

.navbar {
	background-color: rgb(79, 126, 255);
}

.links {
	display: flex;
	align-items: center;
	min-height: 75px;
}

.links .link {
	list-style-type: none;
	margin-left: 2rem;
}

.links .link a {
	text-decoration: none;
	color: rgb(255, 255, 255);
}

.links .link:nth-child(3) {
	margin-left: auto;
	margin-right: 2rem;
}

.title p {
	display: flex;
	flex-direction: row-reverse;
	margin-left: auto;
	padding: 0.5rem;
}


.form .announcement-info,
.form .announcement-content {
	margin: 1rem 2rem;
}

.form p {
	font-size: 2.5em;
	text-align: center;
	margin-top: 1rem;
}

.form legend {
	margin-left: 1rem;
	padding: 0 0.5rem;
	font-weight: bold;
}

.form .button-wrapper {
	display: flex;
	justify-content: center;
	margin: 1rem 2rem;
}

.form-wrapper {
	width: 90%;
	margin: 0 auto;
}

.button-wrapper button {
	padding: 1rem 0.5rem;
}

.title-wrapper {
	display: flex;
	justify-content: space-between;
	font-size: 1.2em;
	margin: 1rem 2rem;
	position: center;
}

.title-wrapper input {
	width: 50%;
	font-size: 1em;
	box-sizing: border-box;
}

.main-image-wrapper {
	display: flex;
	font-size: 1.2em;
	align-items: center;
	justify-content: space-between;
	font-size: 1.2em;
	margin: 1rem 2rem;
}

.main-image-wrapper button {
	padding: 0.5rem;
	border-radius: 0;
	border: solid 1px black;
}

.main-image-wrapper .box {
	border: solid 1px black;
	width: 8vw;
	aspect-ratio: 1;
}


.text-content-wrapper #content {
	width: 100%;
	font-size: 1.5em;
	box-sizing: border-box;
	/*min-height: 150px*/
}

input {
    text-align: left;
    border: 1px solid #ccc;
    /*width: 15%;*/
    padding: 10px;
    margin: 20px auto;
    border-radius: 4px;
    overflow: hidden;
}

input[type=password] {
    float: left;
    width: 98%;
}

.btn {
	 display: grid;
    border: 1px solid #000000;
    background-color: transparent;
    height: 50px;
    width: 200px;
    color: black;
    font-size: 1em;
    text-decoration:none;
    vertical-align: center;
    align-items: center;
     margin-bottom: 30px;
    }


.section-1 {
	height: 70vh;
	width: 70vh;
	display: inline-block;
	padding: 2rem 2rem;
	
}

.form {
	border: solid 1px rgb(0, 0, 0);
	background-color: white;
	min-height: 80%;
	margin: 2rem;
	position:  inherit;
	

}

.section-2 {
	height: 100vh;
	width: 135vh;
	display: flex;
	vertical-align: middle;
	display: inline-table
	
	
}

.form1 {
	
 border: solid 1px rgb(0, 0, 0);
	background-color: white;
	min-height: 80%;
	margin: 3rem;
	padding-right:  50 px;
	width: 95%;
	font-family: 'Poppins', sans-serif;
	
 
}

th {
  
  text-align:center;
  padding: 5px;
  margin: 20px;
  border-collapse: collapse;
  
  
    
}

tr:nth-child(even) {background-color: #f2f2f2;}
 
td {
     border-bottom: 1px solid #ddd;
      height: 50px;
	  text-align: center;
	  border: 1px solid black
	
}
th {
  font-family:  sans-serif;
  background-color:  #696969;
  color: white;
  height: 50px;
  border: 1px solid black;
}
