body  
{  
    margin: 0;  
    padding: 0;  
    background-color: antiquewhite;
    font-family: 'Arial';  
}  
.login{  
        width: 525px;
        overflow: hidden;
        margin: auto;  
        margin: 20px 0 0 450px;  
        padding: 50px;  
        background: #a3bfe3;  
        border-radius: 15px ;             
}   
label{  
		display: inline-block;
        width: 320px;
        text-align: center;
		color: #1c2841;  
		font-size: 15px;  
}  
img{
	width:330px;
	height:100px;
	margin: auto;
	display: block;
}
 
#createselect option{
    color:whitesmoke; 
}

.textNameInput{  
    /*width: 310px; */
    height: 30px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px;  
}  

.inputPassword{  
    /*width: 310px;  */
    height: 30px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px;  
}  

#category{  
    width: 310px;  
    height: 30px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px;  
      
}  
.loginButton{  
    width: 315px;  
    height: 50px;  
    border: none;  
    border-radius: 17px;  
    padding-left: 7px;  
    background-color: #4c586f;
    color: #ebeced; 
	font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;	
    box-shadow: gray;
  
  
}  

.reg{  
    width: 315px;  
    height: 50px;  
    border: none;  
    border-radius: 17px;  
    padding-left: 7px;  
    background-color: #4c586f;
    color: #ebeced; 
	font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;	
    box-shadow: gray;  
}  


span{  
    color: white;  
    font-size: 17px;  
}  
a {  
    margin: auto;  
    color:maroon;
}  

